<div style="float:left">
    <a rel="license" href="{{ episode.license.url }}">
        <img alt="{{ episode.license.name }}" src="{{ episode.license.imageUrl }}" style="vertical-align:middle"/>
    </a>
</div>
<div style="float:right">[podlove-episode-downloads style="buttons"]</div>
