<div style="float:right">
    {{ flattr.button({ style: 'large' }) }}
</div>
<p>{{ episode.summary }}</p>
{{ episode.player }}<br>
[podlove-template template="CC-select-downloads"]
[podlove-episode-contributor-list flattr="yes" groupby="group"]
<h1>Sendungsnotizen</h1>
