{{ episode.summary }}<br><br>
{{ episode.player }}<br>
[podlove-episode-downloads style="buttons"]
<a rel="license" href="{{ episode.license.url }}"><img alt="Creative Commons Lizenzvertrag" style="vertical-align:top" src="{{ episode.license.imageUrl }}"/></a>
<h1>Sendungsnotizen</h1>
